{% extends 'base_template.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="xlsx">Upload xlsx file</label>
                    <input class="form-control-file" id="xlsx" type="file" name="xlsx_file">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>

{% endblock %}